@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

.body {
    font-family: 'Open Sans', sans-serif;
}

/* header section style */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: auto;
    height: 50px;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.img-frame {
    display: flex;
    align-items: center;

}

.pink {
    color: #FF42A5;
}

.header-right {
    display: flex;
    align-items: center;

}

.head-top {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-right: 10px;

}

.head-top li {
    color: #3C354F;
    font-size: 15px;
    font-weight: 500;
}

.follow-us {

    background: rgba(11, 2, 35, 0.10);
    width: 170px;
    height: 20px;
    padding: 10px;
    border-radius: 8px;

}

.img1 {
    width: 33.916px;
    height: 15px;
}

.img2 {
    width: 20.916px;
    height: 15px;
    align-items: center;
}

.img-frame {
    width: 86.041px;
    height: 20px;
    align-items: center;
}

.gamer-h1 {
    padding-left: 10px;
    font-size: 25px;
    font-weight: 700;
}

/* banner section style */
.banner {
    margin-top: 5px;
    display: flex;
    background: #FFF;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
    background-image: url('../images/Group\ 14.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 600px 500px;

}

.img-group18 {
    width: 500px;
    height: auto;
}

.banner-h3 {
    color: #0B0223;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 10px;
}

.banner-h1 {

    font-size: 55px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-left>p {
    color: #534C64;
    font-size: 20px;
    padding-top: 10px;
}

.btn-1 {
    padding: 10px 30px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
font-size: 15px;
font-weight: 600;
}

.btn-2 {
    padding: 10px 35px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 20px;
    color: #FFF;
font-size: 15px;
font-weight: 600;
}

.btn {
    margin-top: 20px;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}
/* section-1 */
.section-1 {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 0px 200px;
    margin-bottom: 100px;
}
.section-1-description{
    text-align: right;
}
.pngwing-4{
    width: 500px;
}
.section-1-description > h3{
    font-size: 25px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-bottom: 10px;
}
.section-1-description > p{
    width: 400px;
    color: #534C64;
font-size: 18px;
font-weight: 400;
padding-bottom: 10px;

}

.section-1-description > button{

padding: 10px 25px;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-size: 15px;
font-weight: 600;
margin-bottom: 10px;
}
.section-1-description > h4{
    color: #534C64;
font-size: 24px;
font-weight: 500;
line-height: 30px; /* 187.5% */

}
/* section-2 */
.section-2-description{
    text-align: center;
    margin-bottom: 30px;
}
.section-2-picture > ul{
display: flex;
margin: 10px 200px;

}
.li-section-2{
    position: relative;
}
.img-section-2 {
    width: 200px;
    position: relative;
}
.png{
    display: block;
    width: 50px;
  transition: .3s ease;
}
.overlay{
    position: absolute;
    top: 30%;
  left:38%;
  opacity: 0;

}
.overlay > P{
color: #FF42A5;



}
/* hover */
.li-section-2:hover{
    -webkit-filter: brightness(60%);
    
}
.li-section-2:hover .overlay{
    -webkit-filter: brightness(100%);
    opacity: 1;
    
}
.ul-section-2{
    justify-content: space-between;
}

.p-section-2{
    width: 200px;
    text-align: left;
}
/* download game section style */
.download{
    display: flex;
    align-items: center;
    margin: 20px -10px 20px 210px;
    justify-content: space-between;
   
}
.horse-pic{
    width: 400px;
}
.cat-pic{
    width: 200px;
    position: relative;
    top: 50px;
  right: 480px;
}
.download-description{
    width: 300px;
    text-align: right;
    
}

.download-heading{
    text-align: right;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
    
}
.download-p{
    color: #534C64;

font-size: 18px;
font-weight: 400;

}
.hover{
    display: flex;
    align-items: center;
padding: 5px;
    
}
.hover-flex{
    display: flex;
    padding: 100px 200px;
    margin-top: 50px;
margin-left: 37px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background:rgba(255, 66, 165, 0.03);
    
}
.hover-img{
width: 40px;
}
.hover-p{
    color: #0B0223;
font-size: 15px;
font-weight: 600;
margin: 10px;
}
.hover:hover  {
    border-radius: 50px;
    border:2px solid #FF42A5;
    color: #FF42A5;
  }
  .hover-p:hover{
color: #FF42A5;
  }
  /* footer */
  .footer{

align-items: center;
text-align: center;
justify-content: center;
height: 300px;
background: #0B0223;
padding-top: 150px;
  }
.ancor-pic{
    display: flex;
}
.img-footer{
    width: 40px;
}
.ancor-pic-ul{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
.condition{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
    color: aliceblue;
}
.Story-footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}
.top-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top-pic{
    width: 50px;
}
.top-footer >h3{
    text-align: center;
    align-items: center;
font-size: 25px;
font-weight: 700;
padding-left: 10px;

color: #FFF;
}
.list-item{
    color: #FFF;
text-align: center;
font-size: 15px;
font-weight: 600;


}
.Story-footer{
    padding-top: 20px;
}
.condition >li >a{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
}

.copyright{
    color: rgba(255, 255, 255, 0.60);

font-size: 16px;
font-weight: 500;
}

/* responsive */

@media screen and (max-width:576px) {
    .header{
        background-image: none;
        flex-direction: column;
        padding-left: 0px;
    padding-right: 0px;
    }
    .header-right{
        flex-direction: column;
        padding-top: 10px;
    }
    .head-top{
        flex-direction: column;
    }
    .follow-us-responxive{
        flex-direction: row;
        padding-bottom: 20px;
    }
    .banner{
        flex-direction: column;
        padding: 0;
        padding-top: 100px;
    }
    .section-1{
        flex-direction: column;
    }
    .ul-section-2{
        flex-direction: column;
    }
    .section-2-picture > ul{
        margin: auto auto ;
        padding-left: 170px;
    }
    .download {
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
        text-align: center;
    }
    .download-description{
        text-align: center;
    }
    .download-description > h2{
        text-align: center;
    }
    .download-pic{
        padding-top: 50px;
        padding-bottom: 0;
    }
    .hover-flex{
        padding: 0;
        
        align-content: space-between;
    align-items: baseline;
    }
    .img-group18{
        height: 100%;
        width: 100%;
    }
    .horse-pic{
        width: 100%;
        height: 100%;
    }
    .pngwing-4{
        height: auto;
        width: 100%;
    }
    
    .footer{
        height: auto;
        width: auto;
    }
    .Story-footer{
        flex-wrap: wrap;
    }
    .condition{
        flex-wrap: wrap;
    }
    .copyright{
        padding-bottom: 20px;
    }
    .header-right{
        
        
    }
    .cat-pic{
        display: none;
    }
    .section-2-picture > ul {
        display: flex;
        margin: 0px 0px;
        align-items: center;
        padding-left: 0;
    }
    .section-1{
        padding: 0;
    }
}